2021/laboratorios/LAB01/scripts/LAB01-Resolucion.Rmd
2021/laboratorios/LAB01/presentacion/02-EDA-figure/
2021/laboratorios/LAB01/presentacion/01-DataFrame-R-figure/
2021/laboratorios/LAB01/presentacion/rsconnect/
