2021/laboratorios/LAB01/scripts/LAB01-Resolucion.Rmd
2021/laboratorios/LAB01/presentacion/02-EDA-figure/
2021/laboratorios/LAB01/presentacion/01-DataFrame-R-figure/
2021/laboratorios/LAB01/presentacion/rsconnect/
2021/laboratorios/LAB01/presentacion/02-EDA-figure/unnamed-chunk-15-1.png
2021/laboratorios/LAB01/presentacion/02-EDA-figure/unnamed-chunk-16-1.png
2021/laboratorios/LAB01/presentacion/02-EDA-figure/unnamed-chunk-23-1.png
2021/laboratorios/LAB01/presentacion/02-EDA-figure/unnamed-chunk-24-1.png
2021/laboratorios/LAB01/presentacion/02-EDA-figure/unnamed-chunk-25-1.png
2021/laboratorios/LAB01/presentacion/02-EDA-figure/unnamed-chunk-29-1.png
2021/laboratorios/LAB01/presentacion/02-EDA-figure/unnamed-chunk-30-1.png
2021/laboratorios/LAB01/presentacion/rsconnect/documents/02-EDA-rpubs.html/rpubs.com/rpubs/Presentation.dcf
2021/laboratorios/LAB01/presentacion/rsconnect/documents/01-DataFrame-R-rpubs.html/rpubs.com/rpubs/Presentation.dcf
2021/laboratorios/LAB02/presentacion/prep_ruido_binnig-figure/unnamed-chunk-1-1.png
2021/laboratorios/LAB02/presentacion/prep_ruido_binnig-figure/unnamed-chunk-7-1.png
2021/laboratorios/LAB02/utiles/~$B01 - Preprocesamiento v1.docx
2021/laboratorios/LAB02/utiles/~$B01 - Preprocesamiento v1.docx
2021/laboratorios/LAB02/utiles/~$B01 - Preprocesamiento v1.docx
